.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: var(--background);
}

.container h2 {
  font-size: 3rem;
  color: var(--text);
  font-weight: 600;
}

.container button {
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 600;
}
