.heroheader {
  font-size: 5rem;
  color: var(--background);
  text-align: center;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-height: 99vh;
  overflow: hidden;
  overflow-y: auto;
  width: auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 16px;
  background: linear-gradient(
    -45deg,
    var(--accent),
    var(--primary),
    var(--secondary)
  );
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
}

.mainDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 95vh;
  width: auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 16px;
  background: linear-gradient(
    -45deg,
    var(--accent),
    var(--secondary),
    var(--primary)
  );
  background-size: 400% 400%;
  animation: gradient 35s ease infinite;
}

@media (max-width: 820px) {
  .main {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    gap: 35px;
  }

  .heroheader {
    font-size: 3.5rem;
  }
}
