.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 24px;
  border-radius: 16px;
  background: var(--background);
}

@media (max-width: 820px) {
  .container {
    align-items: center;
    justify-content: center;
  }
}

.topSection {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
}

.nameAndTemp {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  height: 100%;
  max-height: 50px;
  border-bottom: 1px solid var(--foreground);
}

.nameAndTemp h2 {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  gap: 6px;
  align-items: center;
}

.minMaxTempWrapper {
  display: flex;

  gap: 6px;
  align-items: flex-start;
}

.windContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
}

.titleAndDirectionArrow {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.titleAndDirectionArrow h3 {
  font-size: 21px;
  font-weight: 600;
}

.windDirection {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.windDirectionIcon {
  width: 24px;
  height: 24px;
  stroke: 5px;
  stoke-width: 2px;
}

.right {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
}

.right:last-child {
  align-items: center;
}

.descriptionAndUVIndex {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
}

.descriptionAndUVIndex h3 {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  gap: 6px;
  align-items: center;
}

.weatherIconWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.weatherIcon {
  height: 100%;
}
