.cityPreviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 300px;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .cityPreviewContainer {
    grid-template-columns: 1fr;
  }
}

.cardContainer {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow: hidden;
  cursor: pointer;
}

.imageContainer {
  border-radius: 0.375rem 0.375rem 0 0;
  overflow: hidden;
}

.cityImage {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.cityImage:hover {
  transform: scale(1.25);
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--foreground);
  background-color: var(--background);
}

.detailsWrapper {
  display: flex;
  gap: 0.75rem;
  flex-grow: 1;
}

.detailsText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detailsTextCity {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.detailsTextWeatherType {
  font-size: 1.125rem;
}
.deatilsTemperature {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 2rem;
  flex-grow: 1;
}

.weatherIcon {
  width: auto;
  height: auto;
}
