.dayPreviewCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  padding: 8px 12px;
  border-radius: 16px;
  background: var(--foreground);
  color: var(--background);
}

.contentLeft {
  border-right: 1px solid var(--background);
  padding-right: 18px;
  display: flex;
  align-items: center;

  gap: 5px;
}

.contentCenter {
  font-size: 18px;
  font-weight: 500;
}
.contentRight {
  border-left: 1px solid var(--background);
  padding-left: 18px;
}

.data {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 5px;
}

.timeStamp {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 28px;
  font-weight: 500;
}

.clockIcon {
  font-size: 18px;
  stroke-width: 1.5;
}
