.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 24px;
  border-radius: 16px;
  background: var(--background);
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container:-webkit-scrollbar {
  display: none;
}

.weekDayToggle {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--foreground);
  font-size: 21px;
  font-weight: 500;
}

.weekDayToggle > button {
  cursor: pointer;
  border: 0;
  border: none;
}

.activeDay {
  color: var(--primary);
}

.activeWeek {
  color: var(--secondary);
}

.inActive {
  color: var(--foreground);
}
