.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 28px;
  background: var(--background);
  border-radius: 16px;
}

.container button {
  cursor: pointer;
  border: 0;
  border: none;
}

.form {
  max-width: 300px;
  display: flex;
  background: var(--foreground);
  width: 100%;

  border-radius: 10px;
  justify-content: space-between;
}

.icon {
  width: 32px;
  height: 32px;
  stroke: var(--foreground);
  color: var(--foreground);
}

.darkmodeicon {
  width: 32px;
  height: 32px;

  color: var(--foreground);
}

.searchbutton {
  color: var(--background);
  background: var(--foreground);
  border-radius: 10px;
  padding: 6px 14px;
}

.searchicon {
  width: 32px;
  height: 32px;
}

.search {
  width: 100%;
  border: 2px solid var(--foreground);
  border-radius: 10px;
  padding: 6px 14px;
  background: var(--foreground);
  color: var(--background);
}

@media (max-width: 820px) {
  .container {
    padding: 12px 18px;
    max-width: 300px;
  }

  .searchicon {
    width: 24px;
    height: 24x;
  }

  .darkmodeicon {
    width: 24px;
    height: 24px;
  }

  .form {
    max-width: 180px;
    display: flex;
    background: var(--foreground);
    width: 100%;

    border-radius: 10px;
    justify-content: space-between;
  }
}
